@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root { 
    --background: 345 100% 1%;
      --foreground: 0 100% 90%;
      --muted: 345 12% 15%;
      --muted-foreground: 345 12% 65%;
      --popover: 0 0% 0%;
      --popover-foreground: 0 0% 100%;
      --card: 0 0% 0%;
      --card-foreground: 0 100% 95%;
      --border: 345 90% 6%;
      --input: 345 90% 9%;
      --primary: 0 100% 90%;
      --primary-foreground: 0 100% 30%;
      --secondary: 0 30% 25%;
      --secondary-foreground: 0 30% 85%;
      --accent: 345 100% 16%;
      --accent-foreground: 345 100% 76%;
      --destructive: 7 91% 45%;
      --destructive-foreground: 0 0% 100%;
      --ring: 0 100% 90%;
  }

  .carousel-indicators button {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
  }
  
  .carousel-indicators button.active {
    opacity: 1;
  }
  


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
}
